.jumbotron{
    
    padding: 80px 15px 15px 15px;
    color: aliceblue;
    background-color: rgba(180, 171, 171, 0.993);
}
.nounderline{
    text-decoration: none;
}
.marg{
    margin-top: 50px;
    margin-bottom: 40px;
    /* width: 50%; */
}

.foot{
    padding-top: 15px;
    background-color: rgba(226, 211, 211, 0.993);
}
nav{
    background-color: rgba(107, 43, 226, 0.658);
}
.active{
    font-weight: bold;
}
.nounderline{
    color: black;
    text-decoration: none;
}
.shadow{
    filter: drop-shadow(0 0 0.75rem rgb(180, 182, 44));
}

.thead-dark{
    background-color: black;
    color: aliceblue;
}
